@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,400italic,700italic);

/* Overwrite default theme settings */
.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  margin: 0 0 20px 0;
  color: #eee;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-weight: bold;
  line-height: 1.2;
  text-transform: none;
  text-shadow: none;
  word-wrap: break-word; }

/* End of overwrite */

/*********************************************
 *                  GENERAL
 *********************************************/
/* Use CSS variables */
:root {
  --md-blue: #2196F3;
  --md-green: #8bc34a;
  --md-red: #f44336;
  --md-orange: #ff9800;
  --md-deep-orange: #ff5722;
}

/* Enable Font-Awesome for icons */
.reveal i.fa {
  font-family: 'FontAwesome';
  font-style: normal;
}

/* Colors options */
.reveal .red {
  color: var(--md-red);
}

.reveal .green {
  color: var(--md-green);
}

.reveal .orange {
  color: var(--md-orange);
}

.reveal .deep-orange {
  color: var(--md-deep-orange);
}

.reveal .blue {
  color: var(--md-blue);
}

/* By default, disable bullets in the lists*/
.reveal ul {
  list-style: none;
  margin: 0;
}

.reveal ul.bullets {
  list-style: disc;
  margin: 0 0 0 1em;
}

/* Clean some borders and background for PNG images */
.reveal .png {
  border: none;
  background: none;
}

/* Clean all styles from the image */
.reveal .clean-img {
  margin: 0;
  background: none;
  border: none;
  box-shadow: none;
}

.reveal .inline-img {
  max-height: 30px;
}

/* Class for vertical aligning elements in the middle*/
.vertical-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* List with bullets */
.bullets {
  list-style-type: disc;
}

/* Custom grey-ish box to put on top of pictures for text contrast*/
.reveal .grey-box {
  background-color: rgba(0,0,0,0.7);
  width: 75%;
  margin: 20px auto;
  padding: 5px;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
}

/* Some functional classes */
.reveal .b { font-weight:bold; }
.reveal .tc { text-align: center; }
.reveal .list { list-style-type:none; }
.reveal .fs-08 { font-size: 0.8em; }
.reveal .f1 { font-size: 3rem; }
.reveal .f2 { font-size: 2.25rem; }
.reveal .f3 { font-size: 1.5rem; }
.reveal .f4 { font-size: 1.25rem; }
.reveal .f5 { font-size: 1rem; }
.reveal .f6 { font-size: .875rem; }
.reveal .pb0 { padding-bottom: 5px; }
.reveal .pb1 { padding-bottom: 10px; }
.reveal .pb2 { padding-bottom: 15px; }
.reveal .pb3 { padding-bottom: 20px; }
.reveal .pb4 { padding-bottom: 25px; }
.reveal .pr0 { padding-right: 5px; }
.reveal .pr1 { padding-right: 10px; }
.reveal .pr2 { padding-right: 15px; }
.reveal .pr3 { padding-right: 20px; }
.reveal .pr4 { padding-right: 25px; }
.reveal .pl0 { padding-left: 5px; }
.reveal .pl1 { padding-left: 10px; }
.reveal .pl2 { padding-left: 15px; }
.reveal .pl3 { padding-left: 20px; }
.reveal .pl4 { padding-left: 25px; }
.reveal .pt0 { padding-top: 5px; }
.reveal .pt1 { padding-top: 10px; }
.reveal .pt2 { padding-top: 15px; }
.reveal .pt3 { padding-top: 20px; }
.reveal .pt4 { padding-top: 25px; }
.reveal .mb0 { margin-bottom: 5px; }
.reveal .mb1 { margin-bottom: 10px; }
.reveal .mb2 { margin-bottom: 15px; }
.reveal .mb3 { margin-bottom: 20px; }
.reveal .mb4 { margin-bottom: 25px; }
.reveal .mr0 { margin-right: 5px; }
.reveal .mr1 { margin-right: 10px; }
.reveal .mr2 { margin-right: 15px; }
.reveal .mr3 { margin-right: 20px; }
.reveal .mr4 { margin-right: 25px; }
.reveal .ml0 { margin-left: 5px; }
.reveal .ml1 { margin-left: 10px; }
.reveal .ml2 { margin-left: 15px; }
.reveal .ml3 { margin-left: 20px; }
.reveal .ml4 { margin-left: 25px; }
.reveal .mt0 { margin-top: 5px; }
.reveal .mt1 { margin-top: 10px; }
.reveal .mt2 { margin-top: 15px; }
.reveal .mt3 { margin-top: 20px; }
.reveal .mt4 { margin-top: 25px; }
.reveal .lh-150 { line-height: 150%; }
.reveal .white { color: #fff; }
.reveal .w90 { width: 90%; }
.reveal .textl { text-align: left; }
.reveal .textr { text-align: right; }
